
           <!-- body { border: 1px solid black;
            background: url("images/Karekare1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 20px;}

            h1 {color:orangered;}

            h3 {color:whitesmoke;}

            h4 {color: whitesmoke;}
            
            img {width: 400px;}

            #thirdDiv {height: 550px;width: 500px; background-color: rgb(225, 148, 48);}

            #thirdDiv {padding: 50px;border: thick double #333333; margin:auto;}

            #spanId {font-size: 18px;margin: 50px;}

            .divclass {text-align: center;}   -->